{% load staticfiles %}
{% load tag_user %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Peer Assesment</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]>
        <script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/moment.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
		<script src="{% static 'js/jquery.dropotron' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
        <script src="{% static 'js/respond.min.js'%}"></script>
        <script src="{% static 'js/noty/packaged/jquery.noty.packaged.min.js'%}"></script>
        <script src="{% static 'js/noty/themes/bootstrap.js'%}"></script>
        <script src="{% static 'js/myjs/MyNotifications.js'%}"></script>


		<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} " type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"type="text/css" />
        <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %} " type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/rateit.css' %}"type="text/css" />
        <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/jquery.cleditor.css' %} " type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}"type="text/css" />
        <link rel="stylesheet" href="{% static 'css/jquery.onoff.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/widgets.css' %}"type="text/css" />
        <link rel="stylesheet" href="{% static 'css/animate.css' %}"type="text/css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>

    {% block body %}
	<body>

    <!-- Header starts -->
      <header>
        <div class="container">
          <div class="row">

            <!-- Logo section -->
            <div class="col-md-4">
              <!-- Logo. -->
              <div class="logo">
                <h1><a href="#">PeerAssesment</a></h1>
                <p class="meta">Avaliação em pares</p>
              </div>
              <!-- Logo ends -->
            </div>
          </div>
        </div>
      </header>

    <!-- Header ends -->

    <!-- Main content starts -->

    {% block barrasup %}

    {% endblock %}





        <!-- Sidebar ends -->

        <!-- Main bar -->
        <div class="mainbar">

          <!-- Page heading -->
          <div class="page-head">
            {% block tituloPag %} {% endblock %}

            <div class="clearfix"></div>

          </div>
          <!-- Page heading ends -->


            <!-- Matter -->

            <div class="matter">
            <div class="container">
              <div class="row">
                <div class="col-md-12">

                  <div class="widget">
                    <div class="widget-head">

                        {% block titulo2 %}

                        {% endblock %}

                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                      <div class="padd">



                          {% block matter %}


                        {% endblock %}
                        </div>

                      <div class="widget-foot">
                        <!-- Footer goes here -->
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
              </div>

            <!-- Matter ends -->

        </div>

       <!-- Mainbar ends -->
       <div class="clearfix"></div>

    </div>
    <!-- Content ends -->

    <!-- Footer starts -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
                <!-- Copyright info -->
                <p class="copy">Copyright &copy; 2015 | <a href="#">Peer Assesment - UFAL</a> </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Footer ends -->

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span>


{#    Permite que uma view do django exiba uma mensagem no canto superior direito do browser de modo simples#}
<script>
        {% if msgNotify %}

    generate('success','{{ msgNotify }}');

{% elif msgNotifyErr %}

    generate('warning','{{ msgNotifyErr }}');
{% endif %}
</script>
    <!-- JS -->
{#    <script src="{% static 'js/moment.min.js'%}"></script>#}
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap -->#}
{#    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script> <!-- Data tables -->#}
{#    <script src="{% static 'js/jquery-ui.js' %}"></script> <!-- jQuery UI -->#}
{#    <script src="{% static 'js/fullcalendar.min.js' %}"></script> <!-- Full Google Calendar - Calendar -->#}
{#    <script src="{% static 'js/jquery.rateit.min.js' %}"></script> <!-- RateIt - Star rating -->#}
{#    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script> <!-- prettyPhoto -->#}
{#    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script> <!-- jQuery Slim Scroll -->#}


{#    <!-- jQuery Flot -->#}
{#    <script src="{% static 'js/excanvas.min.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.flot.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.flot.resize.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>#}

{#    <!-- jQuery Notification - Noty -->#}
{#    <script src="{% static 'js/jquery.noty.js' %}"></script> <!-- jQuery Notify -->#}
{#    <script src="{% static 'js/themes/default.js' %}"></script> <!-- jQuery Notify -->#}
{#    <script src="{% static 'js/layouts/bottom.js' %}"></script> <!-- jQuery Notify -->#}
{#    <script src="{% static 'js/layouts/topRight.js' %}"></script> <!-- jQuery Notify -->#}
{#    <script src="{% static 'js/layouts/top.js' %}"></script> <!-- jQuery Notify -->#}
{#    <!-- jQuery Notification ends -->#}

{#    <script src="{% static 'js/sparklines.js' %}"></script> <!-- Sparklines -->#}
{#    <script src="{% static 'js/jquery.cleditor.min.js' %}"></script> <!-- CLEditor -->#}
{#    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script> <!-- Date picker -->#}
{#    <script src="{% static 'js/jquery.onoff.min.js' %}"></script> <!-- Bootstrap Toggle -->#}
{#    <script src="{% static 'js/filter.js' %}"></script> <!-- Filter for support page -->#}

	</body>
    {% endblock %}





</html>