{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Peer Assesment</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>

		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %} " type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}"type="text/css" />

		<!--[if lte IE 8]>
        <link rel="stylesheet" href="css/ie/v8.css" />
        <![endif]-->
	</head>


	<body class="homepage">

    <center><h1><span class="label label-primary"><i class="fa fa-user"></i> Peer Assesment</span></h1></center>

    <!-- Form area -->
    <div class="admin-form">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <!-- Widget starts -->
                <div class="widget worange">
                  <!-- Widget head -->
                  <div class="widget-head">
                    <i class="fa fa-lock"></i> Login
                  </div>

                  <div class="widget-content">
                    <div class="padd">
                      <!-- Login form -->
                      <form class="form-horizontal" action="{% url 'login' %}" method="post" >{% csrf_token %}
                        <!-- Email -->
                        <div class="form-group">
                          <label class="control-label col-lg-3" for="inputEmail">Usuário</label>
                          <div class="col-lg-9">
                            <input type="text" name="username" class="form-control" id="inputEmail" placeholder="Usuário">
                          </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                          <label class="control-label col-lg-3" for="inputPassword">Senha</label>
                          <div class="col-lg-9">
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Senha">
                          </div>
                        </div>
                        <!-- Remember me checkbox and sign in button -->
                        <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="lembrar"> Lembrar senha
                            </label>
                            </div>
                        </div>
                        </div>
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-sm btn-primary">Entrar</button>
                            </div>
                        <br />
                      </form>

                    </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <center>
            {% if sucesso == 2 %}

    {% elif not sucesso %}
        Alguma coisa inesperada aconteceu
    {% else %}
        Pode logar no sistema, o seu cadastro foi realizado com sucesso!

    {% endif %}
    </center>
    <div class="admin-form">
      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <!-- Widget starts -->
                <div class="widget worange">
                  <!-- Widget head -->
                  <div class="widget-head">
                    <i class="fa fa-lock"></i> Registro
                  </div>

                  <div class="widget-content">
                    <div class="padd">
                      <!-- Login form -->
                      <form class="form-horizontal" action="{% url 'registrar' %}" method="post" >{% csrf_token %}
                        <!-- Nome -->
                        <div class="form-group{% if form.nome.errors %} has-error{% endif %}">
                          <label class="control-label col-lg-3" for="inputEmail">Nome completo</label>
                          <div class="col-lg-9">
                            <input type="text" name="nome" class="form-control" id="inputEmail" placeholder="{{ form.nome.help_text }}">
                              {{ form.nome.errors }}
                          </div>
                        </div>
                        <!-- email -->
                        <div class="form-group">
                          <label class="control-label col-lg-3" for="inputEmail">Email</label>
                          <div class="col-lg-9">
                            <input type="text" class="form-control" name="email" id="inputEmail" placeholder="Email">
                          </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                          <label class="control-label col-lg-3" for="inputPassword">Password</label>
                          <div class="col-lg-9">
                            <input type="password" name="password1" class="form-control" id="inputPassword" placeholder="Senha">
                          </div>
                        </div>
                        <!-- Password 2-->
                        <div class="form-group">
                          <label class="control-label col-lg-3" for="inputPassword">Confirmar senha</label>
                          <div class="col-lg-9">
                            <input type="password" class="form-control" name="password2" id="inputPassword" placeholder="">
                          </div>
                        </div>
                        <!-- Remember me checkbox and sign in button -->
                        <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">

                        </div>
                        </div>
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-sm btn-primary">Registrar</button>
                            </div>
                        <br />
                      </form>

                    </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    </body>

</html>