{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Peer Assesment</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
        <script src="{% static 'js/home.js' %}"></script>

		<link rel="stylesheet" href="{% static 'css/skel.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %} " type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/style-desktop.css' %}"type="text/css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
            
    </head>
	<body class="homepage">
        <div id="Overlay" class="overlay" onclick="fecharModal()"></div>
            <div id="Modal" class="modal">
                <table class="tabelaMain">
                <tbody>
                    <tr>
                        <td class="tdLogin">
                            <form method="post" action="{% url 'login' %}" class="form_login">{% csrf_token %}
                                <div class="containerLogin">
                                    <ul class="icons 6u">
                                        <li class="fa fa-home">Login</li>
                                    </ul>
                            {{ form_login.as_p }}


                            <input type="submit">
                            </div>
                                </form>
                            </td>


                        <td class="tdRegistrar">
                            <form class="form_register" action="{% url 'registrar' %}" method="post" >{% csrf_token %}
                                <div class="containerRegistrar">
                                    <ul class="icons 6u">
                                        <li id="cadastrar" class="fa fa-cog">Cadastrar</li>
                                    </ul>
                                    <input class="nome" type="text" name="nome" placeholder="Nome Completo">

                                    <input class="nome" type="text" name="orientador" placeholder="nome do orientador">


                                    <input class="email" type="email" name="email_orientador" placeholder="email do orientador">

                                    <input class="email" type="email" name="email" placeholder="Email">
                                    <input class="username" type="text" name="username" placeholder="Username">
                                    <input class="senha" type="password" name="password1" placeholder="Senha">
                                    <input class="senha2" type="password" name="password2" placeholder="Confirmar Senha">
                                    <input class="submit_registrar" type="submit">
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="content">
                <div class="surface">
                <div id="header" class="container">
                    <h1 id="logo"><a href="{% url 'index' %}">Peer Assesment</a></h1>
                    <p>Sistema para avaliação em pares</p>
                </div>
                    <div id="headerFooter" class="informacoes">
                        <h2 id='logo'>Informações</h2>
                        <p>Peer Assesment é uma avaliação feita por pares, 
                            nas quais os alunos comentam e julgam os trabalhos de seus colegas.</p>
                        <input id="Abrirmodal" type="submit" onclick="abrirModal()" value="Entre ou Cadastre-se aqui">
                    </div>
                </div>  
            </div>
	</body>
</html>