{% extends 'base_professor.html' %}
{% load staticfiles %}

{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-file-o"></i> Alocar trabalhos</h2>
{% endblock %}


{% block matter %}





		<script type="text/javascript" src="{% static 'js/jquery.dataTables.rowGrouping.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.dataTables.rowReordering.js' %}"></script>





<div class="widget-content">


                    <table class="table table-striped table-bordered table-hover" id="tb_data">
                      <thead>
                        <tr>
                          <th>Aluno</th>
                          <th>Atividade</th>
                          <th>Disciplina</th>
                          <th>Controle</th>
                        </tr>
                      </thead>

                        <tbody>


                          {% for atv in atividades %}

                        <tr>
                          <td><a class="btn btn-default" href="{% url 'Edita_Atividade' atv.slug %}">{{ atv.aluno }}</a></td>
                          <td>{{ atv.atividade.titulo }}</td>
                          <td>{{ atv.atividade.disciplina }}</td>
                          <td><a href="" class="btn btn-success"><i class=""></i> ↑</a>
                                <a href=""><button class="btn btn-danger"><i class=""></i> ↓</button></a>
                          </td>
                        </tr>
                        {% endfor %}






                      </tbody>
                    </table>



                    <button onclick="send_data()">Enviar</button>

                    </div>

                  </div>
                </div>












<script>
	$(document).ready(function(){
     $('#tb_data').dataTable().rowReordering()

});
	</script>


<script>
    function send_data() {
        $('#tb_data').dataTable( {
    "ajax": {
    "url": "http://127.0.0.1:8000/professor/alocar/teste",
    "contentType": "application/json",
    "data": function ( d ) {
      return JSON.stringify( d );
    }
  }
} );
    }

	</script>
{% endblock %}

