{% extends 'base.html' %}

{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Disciplina "{{nome}}" cadastrada com sucesso!</h2>

{% endblock %}

{% block matter %}

<form method="post">
    <a href="{% url 'professor_cria_disciplina' %}" class="btn btn-success"><i class="fa fa-plus"></i>   Cadastrar outra disciplina</a>
    <a href="{% url 'disciplinas' %}" class="btn btn-danger">Voltar</a>
</form>

{% endblock %}