{% extends 'base.html' %}

{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Atividade cadastrada com sucesso!</h2>

{% endblock %}

{% block matter %}

<form method="post">
    {{data}}
    <a href="{% url 'disciplinas' %}" class="btn btn-danger">Voltar</a>
</form>

{% endblock %}