{% extends 'base_professor.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Cadastrar Atividade</h2>
{% endblock %}

{% block matter %}


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


    <table>
        <tbody>
        <form method="post" enctype="multipart/form-data" id="form_atvd" action="">


            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        {% bootstrap_form form %}

                        <td><input type="submit" class="btn btn-success" id="enviar"></td>
                        <td><a href="{% url 'Lista_Atividades' %}" class="btn btn-danger"> Cancelar</a></td>

                    </div>

                </div>
            </div>

        </form>

        <script type="text/javascript">
                        $(function (){

                            $('input[type=datetime]').each(function(){
                                $(this).datetimepicker({
                                    format:'DD/MM/YYYY hh:mm:ss'
                                });
                            });

                        });





                    </script>

        </tbody>
    </table>
    <a onclick="atualizaData()" class="btn btn-primary"><i class="fa fa-check"></i> Automático</a>

    <button onclick="validar_data()">Validar</button>

    <script type="text/javascript" src="{% static 'js/myjs/mydata.js' %}"></script>





{% endblock %}