{% extends 'base_professor.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Criar nova disciplina</h2>

{% endblock %}

{% block matter %}
    <script src="{% static 'js/myjs/formTwoStep.js' %}"></script>
<div class="container">
        <form method="post" id="myform" class="form-horizontal">
        {% csrf_token %}
            {% bootstrap_form form_Disc %}
            {% bootstrap_form form_Peer %}
{#            <td><a><button class="btn btn-success" type="submit"> Enviar</button></a></td>#}
{#            <td><a href="{% url 'disciplinas' %}" class="btn btn-danger"> Cancelar</a></td>#}
        </form>

</div>

    <script>
    var $sele=$("<select></select>").attr("id",'sel_sm').attr('class','btn btn-info');
    $('#id_semestre').after($sele);

    var anoAtual = new Date().getFullYear();


    for(var i=anoAtual-1;i<anoAtual+5;i++){
        var $op=$("<option></option>").text(i+".1");
        $sele.append($op)
        var $op=$("<option></option>").text(i+".2");
        $sele.append($op)
    }

    $('#sel_sm').click(function(){

        $('#id_semestre').val($("#sel_sm option:selected").text());
    })
    </script>


    <script>

    formTwoStep('#myform','{{ msg }}');




    </script>










{% endblock %}