{% extends 'base_professor.html' %}



{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-list-alt"></i> {{ disciplina.nome }}</h2>
{% endblock %}


{% block matter %}
    <div class="support-contact">
                                <!-- Phone, email and address with font awesome icon -->
                                <p>Descrição</p>
								<hr />
                                <p><i class="fa fa-envelope"></i>&nbsp; Email<strong>:</strong> {{ disciplina.email_disciplina }}</p>
                                <hr />
                                <p><i class="fa fa-user"></i>&nbsp; Professor<strong>:</strong> {{ disciplina.disciplina.professor }}</p>
								<hr />
                                <p><i class="fa fa-bookmark"></i>&nbsp; Semestre<strong>:</strong> {{ disciplina.disciplina.semestre }}</p>
								<hr />
                                <p><i class="glyphicon glyphicon-ok-sign"></i>&nbsp; Nº de matriculados<strong>:</strong> {{ qtd}}</p>
								<hr />
                                <p><i class="glyphicon glyphicon-info-sign"></i>&nbsp; Nº de pendências<strong>:</strong> {{ qtd_pend}}</p>
								<hr />
                                <!-- Button -->

    </div>
    

{% endblock %}