{% extends 'base_professor.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-list-alt"></i> Editar Disciplina</h2>
{% endblock %}

{% block matter %}
    <script src="{% static 'js/myjs/formTwoStep.js' %}"></script>

    <div class="container">

<form class="form-horizontal" role="form" method="post" action="" id="myform">
{% csrf_token %}
	{% bootstrap_form form_Disc %}
    	{% bootstrap_form form_Peer %}



{#			<button type="submit" class="btn btn-success">Salvar</button>#}
{#				<a class="btn btn-danger" href="{% url 'disciplinas' %}">Cancelar</a>#}


    </form>




</div>
    <script>
    var $sele=$("<select></select>").attr("id",'sel_sm').attr('class','btn btn-info');
    $('#id_semestre').after($sele);

    var anoAtual = new Date().getFullYear();


    for(var i=anoAtual-1;i<anoAtual+5;i++){
        var $op=$("<option></option>").text(i+".1");
        $sele.append($op)
        var $op=$("<option></option>").text(i+".2");
        $sele.append($op)
    }

    $('#sel_sm').click(function(){

        $('#id_semestre').val($("#sel_sm option:selected").text());
    })
    </script>


    <script>

    formTwoStep('#myform');




    </script>
{% endblock %}