{% extends 'base_professor.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Editar Atividade</h2>
{% endblock %}

{% block matter %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/fileinput.js' %}"></script>
    <script src="{% static 'js/fileinput_locale_pt-BR.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}">

    <div class="container">
    <div class="row">
        <div class="col-sm-6">
    <form enctype="multipart/form-data" role="form" method="post" action="">
        {% csrf_token %}


        <div class="row1">
            <a class="btn btn-warning" target="_blank" href="{% url 'baixa_atividade' form.slug.value %}">
            <span class="btn btn-primary">

<label class="control-label">Arquivo Atual: </label >
                <div class="col-md-12">



                        <object data="{% url 'baixa_atividade' form.slug.value %}" type="application/pdf" width="160px" height="160px" internalinstanceid="45">
       <param name="movie" value="{{ form.arquivo.name }}">
      <param name="controller" value="true">
      <param name="allowFullScreen" value="true">
      <param name="allowScriptAccess" value="always">
      <param name="autoPlay" value="false">
      <param name="autoStart" value="false">
      <param name="quality" value="high">
         <div class="file-preview-other">
       <i class="glyphicon glyphicon-file"></i>
         </div>
    </object>

                </div>



            </span>
            </a>

        </div>
        {% bootstrap_form form %}

        <td><a><button class="btn btn-success" type="submit" id="enviar"> Enviar</button></a></td>
        <td><a href="{% url 'Lista_Atividades' %}" class="btn btn-danger"> Cancelar</a></td>
        <td><a class="btn btn-default" onclick="atualizaData()">Atualizar</a></td>
        <script type="text/javascript">
            $(function (){

                $('input[type=datetime]').each(function(){
                    $(this).datetimepicker({
                        format:'DD/MM/YYYY hh:mm:ss'
                    });
                });

            });

            $("#id_arquivo").fileinput({
            language: "pt-BR",
            uploadUrl: "",

            allowedFileExtensions: ["pdf"]
        });

        </script>
    </form>
    </div>
    </div>
    </div>


    <script type="text/javascript" src="{% static 'js/myjs/mydata.js' %}"></script>

{% endblock %}