{% extends 'base.html' %}

{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-times"></i> Excluir {{ atividade.nome }} ?</h2>
{% endblock %}


{% block matter %}
    <form method="post">
        {% csrf_token %}
        <p>Você tem certeza que quer remover a atividade: {{ atividade }} ?</p>
        <input type="submit" value="Confirmar" class="btn btn-success">
        <a href="{% url 'Lista_Atividades' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}