{% extends 'base_professor.html' %}
{% load tag_prof_atividades %}

{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-home"></i>  Início</h2>
{% endblock %}

{% block titulo2 %}
        <div class="pull-left">Lembretes:</div>
{% endblock %}


{% block matter %}
    <div class="container">
          {% if alunos_pendentes %}
          <div class="row">
            <div class="col-md-12">


              <div class="widget">
                <div class="widget-head">
                  <div class="pull-left">Solicitações de alunos</div>
                  <div class="widget-icons pull-right"></div>
                  <div class="clearfix"></div>
                </div>
                <div class="widget-content medias">

                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Disciplina</th>
                          <th>Ação</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr>
                            {% for aluno in alunos_pendentes %}
                          <td>{{ aluno.aluno }}</td>
                          <td>{{ aluno.disciplina }}</td>

                          <td>
                                <form method="post" action="{% url 'aceitar_negar_aluno' aluno.disciplina.slug %}">
    {% csrf_token %}
    <input type="hidden" value="True" hidden="" name="resposta">
    <input type="hidden" value="{{ aluno.aluno.id }}" name="dado">
    <input class="btn btn-success" type="submit" value="Aceitar">
    </form>
        <form method="post" action="{% url 'aceitar_negar_aluno' aluno.disciplina.slug %}">
    {% csrf_token %}
    <input type="hidden" value="False" hidden="" name="resposta">
    <input type="hidden" value="{{ aluno.aluno.id }}" name="dado" >
    <input class="btn btn-danger" type="submit" value="Negar">
    </form>

                          </td>
                            {% endfor %}
                        </tr>


                      </tbody>
                    </table>

                    <div class="widget-foot">



                      <div class="clearfix"></div>

                    </div>

                </div>
              </div>

            </div>
          </div>
        </div>
		  </div>
        {% endif %}

        {% if user|qtd_atividades_professor > 0 %}
        <div class="alert alert-warning">Você tem <span class="label label-warning">{{  user|qtd_atividades_professor }}</span> pendencia(s) em atraso!</div>

        {% else %}
        <div class="alert alert-success">Você não tem nenhuma atividade pendente.</div>
        {% endif %}







{% endblock %}