{% extends 'base_professor.html' %}

{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Notas da Atividade</h2>
{% endblock %}


{% block matter %}



    <div class="container">

        <div class="row">




        <div class="panel-group" id="accordion">


            <table class="table table-responsive">

                    {% for atvd in atividades %}

                        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="mylink" data-toggle="collapse" data-parent="#accordion" href="#{{ forloop.counter }}"><b>Aluno: </b>{{ atvd.aluno}} |  <b>Nota Total: </b>{{ atvd.nota_final_mediana }} </a>
                    <a class="mylink2" href="{% url 'notas_individuais_detalhadas' atvd.slug %}" target="_blank"></a>
                </h4>
            </div>
            <div id="{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Aqui vão ser mostrados os detalhes a cerca da nota do aluno <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>


                    {% endfor %}







            </div>

        </div>

    </div>

    <script>
        $(document).ready(function(){
           $('.informa').click(function(){
                $(this).parent().append('teste')
           });


                $('.mylink').click(function(){
                    var $varT= $(this);
                    $.getJSON($(this).siblings('.mylink2').attr('href'), function(result){
                    $.each(result, function(i, field){
                        
                        $($varT.attr('href')).append(field.fields.resposta);
                    });
                });

                });




        });


    </script>

{% endblock %}