{% extends 'base_professor.html' %}



{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-tasks"></i> Atividades</h2>
{% endblock %}


{% block matter %}

        <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Atividade</th>
                          <th>Disciplina</th>
                          <th>Prazo final</th>
                          <th>Controle</th>
                        </tr>
                      </thead>

                        <tbody>
                          {% for atv in atividades %}
                        <tr>
                          <td><a class="btn btn-default" href="{% url 'Edita_Atividade' atv.slug %}">{{ atv.titulo }}</a></td>
                          <td>{{ atv.disciplina }}</td>
                          <td>prazo</td>
                          <td><a href="{% url 'Edita_Atividade' atv.slug %}" class="btn btn-warning"><i class="fa fa-pencil"></i>  Editar</a>
                              <a href="{% url 'excluir_atividade' atv.slug  %}"><button class="btn btn-danger"><i class="fa fa-times"></i>  Excluir</button></a>
                              <a href="{% url 'alocar_trabalhos' atv.slug  %}"><button class="btn btn-primary"><i class="fa fa-user"></i>  Alocar trabalhos</button></a>
                              <a href="{% url 'nota_atividade' atv.slug  %}"><button class="btn btn-primary"><i class="fa fa-user"></i>  Notas</button></a>
                          </td>
                        </tr>
                        {% endfor %}


                      </tbody>
                    </table>



                    <div class="widget-foot">

                            <a href="{% url 'professor_disciplinas'  %}" class="btn btn-success"><i class="fa fa-plus"></i>   Cadastrar Atividade</a>



                        <ul class="pagination pagination-sm pull-right">



                      <div class="clearfix"></div>

                    </div>

                  </div>
                </div>

{% endblock %}