{% extends 'base_professor.html' %}
{% load bootstrap3 %}



{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-magic"></i> Atualizar perfil do Professor</h2>

{% endblock %}
{% bootstrap_messages%}
{% block matter %}



    <form method="post" class="form">
        {% csrf_token %}
    {% bootstrap_form form %}
        <input type="submit" class="btn btn-success">

    </form>
    {% if message2 %}
    <div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="sr-only">{{ message2 }}</span>
  {{ message2 }}
    </div>
    {% endif %}

    <br>
    <form method="post" class="form">
        {% csrf_token %}

        {% bootstrap_form user_form %}

        {% buttons %}
        <button type="submit" class="btn btn-success">
        {% bootstrap_icon "star" %}Enviar
        </button>
    {% endbuttons %}



    </form>
    {% if message1 %}
    <div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="sr-only">{{ message1 }}</span>
  {{ message1 }}
    </div>
    {% endif %}




{% endblock %}