{% extends 'base_professor.html' %}
{% load tag_user %}
{% load tag_relacao_aluno_disciplina tag_relacao_disciplina %}


{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-list-alt"></i> Disciplinas</h2>
{% endblock %}


{% block matter %}

        <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Professor</th>
                          <th>Controle</th>
                        </tr>
                      </thead>

                        <tbody>
                          {% for disc in disciplinas %}
                        <tr>




                            <td><a class="btn btn-default" href="{% url 'professor_disciplinas_detail' disc.disciplina.slug %}">{{ disc.disciplina.nome }}</a></td>
                            <td>{{ disc.disciplina.professor }}</td>
                            <td><a href="{% url 'Edita_Disciplina' disc.disciplina.slug %}" class="btn btn-warning"><i class="fa fa-pencil"></i>  Editar</a>
                            <a href="{% url 'excluir_disciplina' disc.disciplina.slug %}" class="btn btn-danger"><i class="fa fa-times"></i>  Excluir</a>
                            <a href="{% url 'professor_cria_atividade' disc.disciplina.slug %}" class="btn btn-primary"><i class="fa fa-archive"></i>  Cadastrar Atividade</a>
                            </td>




                        </tr>
                        {% endfor %}


                      </tbody>
                    </table>



                    <div class="widget-foot">



                            <a href="{% url 'professor_cria_disciplina' %}" class="btn btn-success"><i class="fa fa-plus"></i>   Cadastrar Disciplina</a>


                      <div class="clearfix"></div>

                    </div>

                  </div>
                </div>

{% endblock %}