<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% for a in alunos %}
    {{ a.aluno }}
    <form method="post">
    {% csrf_token %}
    <input type="hidden" value="True" hidden="" name="resposta">
    <input type="hidden" value="{{ a.aluno.id }}" name="dado">
    <input type="submit" value="Aceitar">
    </form>
        <form method="post">
    {% csrf_token %}
    <input type="hidden" value="False" hidden="" name="resposta">
    <input type="hidden" value="{{ a.aluno.id }}" name="dado" >
    <input type="submit" value="Negar">
    </form>

    {% endfor %}
</body>
</html>