{% extends 'base.html' %}
{% load tag_relacao_aluno_disciplina %}


{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-file-o"></i> Minhas Disciplinas</h2>
{% endblock %}


{% block matter %}

<div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Professor</th>
                          <th>Situação</th>

                        </tr>
                      </thead>

                        <tbody>
                          {% for disc in disciplinas %}
                        <tr>

                          <td><a class="btn btn-default" href="{% url 'detalhe_disciplinas' disc.disciplina.slug %}">{{ disc.disciplina }}</a></td>
                          <td>{{ disc.disciplina.professor }}</td>
                          <td>{{user|rel_aluno_disc:disc.disciplina.id}}</td>


                        </tr>
                        {% endfor %}


                      </tbody>
                    </table>



                    <div class="widget-foot">



                      <div class="clearfix"></div>

                    </div>

                  </div>
                </div>
{% endblock %}