<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% for atv in atividades %}
    <li><a href="{{ atv.get_absolute_url }}">
    {{ atv.titulo }}
</a>

    </li>


    {% endfor %}
</body>
</html>