{% extends 'base.html' %}
{% load tag_fase_atividade %}
{% load tag_avaliado_or_avaliador %}
{% load tag_get_nota %}
{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Fase Comentário</h2>
{% endblock %}


{% block matter %}
    {% fase_atual resposta.atividade.atividade.pk as fase %}
    {% avaliado_or_avaliador user resposta.pk as estado  %}

    {{ fase }}
    {{ estado }}

        <form method="post" class="form-horizontal" role="form" action="{% url 'aluno_comentario' resposta.slug %}">
        {% csrf_token %}
            <div class="form-group">
                    <label class="col-lg-2 control-label">Comentário</label>
                    <div class="col-lg-5">
                       <textarea class="form-control" rows="5" placeholder="Textarea" name="comentario">{{ resposta.comentario }}</textarea>
                        {% if fase == 'comentar' and estado == 'avaliador'%}
                <input type="submit" class="btn btn-success">
                        {% endif %}
                    </div>

            </div>


        </form>

        <form method="post" class="form-horizontal" role="form" action="{% url 'aluno_replica' resposta.slug %}">
            {% csrf_token %}
            <div class="form-group">
                    <label class="col-lg-2 control-label">Réplica</label>
                    <div class="col-lg-5">
                       <textarea class="form-control" rows="5" placeholder="Textarea" name="replica">{{ resposta.replica }} </textarea>
                        {% if fase == 'replicar' and estado == 'avaliado' %}
                <input type="submit" class="btn btn-success">
                        {% endif %}
                    </div>
            </div>
        </form>

        <form  method="post" action="{% url 'aluno_treplica' resposta.slug %}" class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="form-group">
                    <label class="col-lg-2 control-label">Tréplica</label>
                    <div class="col-lg-5">
                       <textarea class="form-control" rows="5" placeholder="Textarea" name="treplica"> {{ resposta.treplica }}</textarea>
                        {% if fase == 'treplicar' and estado == 'avaliador'%}
                <input type="submit" class="btn btn-success">
                        {% endif %}
                    </div>
            </div>
        </form>

        <form  method="post" action="{% url 'aluno_posta_nota_avaliador' resposta.slug %}" class="form-horizontal" role="form">
            {% csrf_token %}
            <div class="form-group">
                    <label class="col-lg-2 control-label">Avaliar Revisor</label>
                    <div class="col-lg-5">
                       <textarea class="form-control" rows="5" placeholder="Textarea" name="avaliar_revisor"> {{ resposta.nota_para_avaliador }}</textarea>
                        {% if fase == 'nota' and estado == 'avaliado'%}
                <input type="submit" class="btn btn-success">
                        {% endif %}
                    </div>
            </div>
        </form>

        <form method="post" class="form-horizontal" role="form" action="{% url 'aluno_posta_nota' resposta.slug %}">
        {% csrf_token %}
            <div class="form-group">
                    <label class="col-lg-2 control-label">Critérios</label>
                    <div class="col-lg-5">
                       <textarea class="form-control" rows="5" placeholder="Textarea"disabled>Critérios {{ resposta.atividade.atividade.criterio_set.all }}</textarea>

                    </div>
            </div>

            {% for crit in resposta.atividade.atividade.criterio_set.all %}
            <div class="form-group">
                    <label class="col-lg-2 control-label">{{ crit }}</label>
                    <div class="col-lg-5">
                       <select class="form-control" name="nota" contenteditable="true">
                                      <option>{{ crit|get_nota:resposta.slug }}</option>
                                      <option>0</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                       </select>
                    </div>
            </div>


                <input type="hidden" name="criterio" value="{{ crit.id }}">
            {% endfor %}
        {% if fase == 'nota' and estado == 'avaliador'%}
        <input type="submit" class="btn btn-success">
        {% endif %}
        </form>


        <input type="submit" class="btn btn-success">
        <a class="btn btn-danger" href="{% url 'aluno_atividades' %}">Cancelar</a>


{% endblock %}