{% extends 'base.html' %}
{% load tag_fase_atividade %}

{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-tasks"></i> Atividades</h2>
{% endblock %}


{% block matter %}


        <div class="widget-content">


                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Atividade</th>
                          <th>Disciplina</th>
                          <th>Situação</th>
                          <th>Prazo final</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for disc in disciplinas %}
                          {% for atvd in disc.disciplina.get_atividades %}
                        <tr>
                          <td>{{ atvd.titulo }}</td>
                          <td>{{ atvd.disciplina }}</td>

                          <td>{{ atvd.pk|fase_atvd }}</td>
                          <td>{{ atvd.pk|data_atvd }}</td>

                      {% endfor %}
                      {% endfor %}


                      </tbody>
                    </table>

                    <div class="widget-foot">

                      <div class="clearfix"></div>

                    </div>

                  </div>
                </div>

{% endblock %}