{% extends 'base.html' %}
{% load tag_user %}
{% load bootstrap3 %}

{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-magic"></i> Atualizar perfil Do Aluno</h2>

{% endblock %}

{% block matter %}
    <form method="post">
        {% csrf_token %}
    {% bootstrap_form form %}
        {{ form.new_password1.errors }}
        <input type="submit" class="btn btn-success">
    </form>


    <form method="post" >
        {% csrf_token %}
        {% bootstrap_form user_form %}

        <input type="submit" class="btn btn-success">

    </form>



{% endblock %}