{% extends 'base.html' %}


{% block barrasup %}
<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">


      <!-- Menu button for smallar screens -->
       <ul class="nav navbar-nav pull-right">
          <li class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user"></i>
                  {{ user.aluno }}
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'atualiza_perfil' %}"><i class="fa fa-user"></i>Perfil</a></li>
                  <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Sair</a></li>
              </ul>
          </li>
       </ul>

    </div>

    <div class="content">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="sidebar-dropdown"><a href="#">Navigation</a></div>
            <ul id="nav">
              <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Início</a></li>
              <li class="has_sub"><a href="{% url 'disciplinas' %}"><i class="fa fa-list-alt"></i> Disciplinas  <span class="pull-right"></span></a></li>
              <li class="has_sub"><a href="{% url 'aluno_disciplinas' %}"><i class="fa fa-file-o"></i> Minhas Disciplinas  <span class="pull-right"></span></a></li>
              <li><a href="{% url 'aluno_atividades' %}"><i class="fa fa-tasks"></i> Atividades</a></li>
              <li><a href="{% url 'atualiza_perfil' %}"><i class="fa fa-magic"></i> Atualizar Perfil</a></li>
            </ul>
        </div>
</div>
{% endblock %}