{% extends 'base.html' %}

{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-tasks"></i> Exercício 2</h2>
{% endblock %}


{% block matter %}

<form class="form-horizontal" role="form">
                                <br>
                                <center><input type="file"></center>
                                <br>
                                <br>

                                <div class="form-group">
                                  <label class="col-lg-2 control-label">Critérios</label>
                                  <div class="col-lg-5">
                                    <textarea class="form-control" rows="5" placeholder="Textarea"disabled>Critério 1 </textarea>
                                  </div>
                                </div>


                                <div class="form-group">
                                  <div class="col-lg-offset-2 col-lg-6">
                                    <button type="button" class="btn btn-sm btn-success">Submeter</button>
                                    <a class="btn btn-danger" href="{% url 'aluno_atividades' %}">Cancelar</a>
                                  </div>
                                </div>
                              </form>

{% endblock %}