{% extends 'base_aluno.html' %}

{% load tag_user %}
{% load tag_quantidade_atividades %}
{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-home"></i>  Início</h2>
{% endblock %}

{% block titulo2 %}
        <div class="pull-left">Lembre-se:</div>
{% endblock %}

{% block matter %}

    {% if user|active == 1 %}
        {% if user|qtd_atividades > 0 %}
            <div class="alert alert-warning">Você tem <span class="label label-warning">{{ user|qtd_atividades }}</span> atividade(s) em atraso!</div>
        {% else %}
            <div class="alert alert-success">Você não tem nenhuma atividade pendente.</div>
        {% endif %}
    {% endif %}




{% endblock %}