{% extends 'base.html' %}
{% load tag_fase_atividade %}

{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-tasks"></i> Exercício 2</h2>
{% endblock %}

{% block matter %}

        Avaliado
        </br>
        {% for a in respostas_aluno %}
            {% fase_atual a.atividade.atividade.pk as fase %}

            {{ fase }}
            <a href="{% url 'aluno_comentarioEnotas' a.slug %}">{{ forloop.counter }}</a>
            </br>

        {% endfor %}

        Avaliador
        </br>
        {% for a in respostas_avaliador %}
            {% fase_atual a.atividade.atividade.pk as fase %}

            {{ fase }}
            <a href="{% url 'aluno_comentarioEnotas' a.slug %}">{{ forloop.counter }}</a>
            </br>

        {% endfor %}
{% endblock %}