{% extends 'base.html' %}

{% block tituloPag %}
    <h2 class="pull-left"><i class="fa fa-list-alt"></i> Fase de submissão</h2>
{% endblock %}


{% block matter %}

        <form method="post" enctype="multipart/form-data" class="form-horizontal">

        <div class="form-group">
                    <label class="col-lg-2 control-label">Critérios</label>
                    <div class="col-lg-5">
                       <textarea class="form-control" rows="5" placeholder="Textarea"disabled>Critérios </textarea>
                    </div>
        </div>

        {% csrf_token %}


        {{ form.as_p }}



        <input type="submit" class="btn btn-success">
        <a class="btn btn-danger" href="{% url 'aluno_atividades' %}">Cancelar</a>

         </form>






{% endblock %}