{% extends 'base.html' %}

{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-times"></i> Excluir {{ disciplina.nome }} ?</h2>
{% endblock %}


{% block matter %}
    <form method="post">
        {% csrf_token %}
        <p>{{ titulo }} {{ objeto }}?</p>
        <input type="submit" value="Confirmar" class="btn btn-success">
        <a href="{{ link }}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}