{% extends 'base.html' %}
{% load tag_user %}
{% load tag_relacao_aluno_disciplina %}
{% load tag_aluno_matriculado %}
{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-list-alt"></i> {{ disciplina.nome }}</h2>
{% endblock %}


{% block matter %}
    <div class="support-contact">
                                <!-- Phone, email and address with font awesome icon -->
                                <p>Descrição</p>
								<hr />
                                <p><i class="fa fa-envelope"></i>&nbsp; Email<strong>:</strong> {{ disciplina.email_disciplina }}</p>
                                <hr />
                                <p><i class="fa fa-user"></i>&nbsp; Professor<strong>:</strong> {{ disciplina.professor }}</p>
								<hr />
                                <p><i class="fa fa-bookmark"></i>&nbsp; Semestre<strong>:</strong> {{ disciplina.semestre }}</p>
								<hr />
                                <!-- Button -->
                                {% if user|active == 1%} {{user|rel_aluno_disc:disciplina.id}} {% endif %}
                                &nbsp; <a href="{% url 'disciplinas' %}" class="btn btn-default btn-sm">Voltar</a>


                                {% if user|aluno_matriculado:disciplina.id %}

                                    {% for atvd in disciplina.get_atividades %}

                                    {% endfor %}
                                {% endif %}
    </div>
    
        <form method="post" action="#" hidden="">
        {% csrf_token %}
            <input type="text" name="nome" id="nome">
            <input type="text" name="penalidade" id="penalidade">

            <input type="text" name="semestre" id="semestre">
            <input type="text" name="email_disciplina" id="email_disciplina">
            <input type="text" name="quantidade_de_avaliadores" id="quantidade_de_avaliadores">

        <input type="submit" value="Update">
{% endblock %}