{% extends 'base.html' %}
{% load tag_user %}
{% load tag_relacao_aluno_disciplina tag_relacao_disciplina %}


{% block tituloPag %}
        <h2 class="pull-left"><i class="fa fa-list-alt"></i> Disciplinas</h2>
{% endblock %}


{% block matter %}

        <div class="widget-content">

                    <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Professor</th>
                          {% if user|active == 1 %}<th>Situação</th>{% endif %}
                          {% if user|active == 2 %}<th>Controle</th>{% endif %}
                        </tr>
                      </thead>

                        <tbody>
                          {% for disc in disciplinas %}
                        <tr>



                          {% if user|active == 1 %}
                            <td><a class="btn btn-default" href="{% url 'detalhe_disciplinas' disc.slug %}">{{ disc.nome }}</a></td>
                            <td>{{ disc.professor }}</td>
                            <td>{{user|rel_aluno_disc:disc.id}}</td>

                            {% endif %}

                            {% if user|active == 2 and user|rel_prof_disc:disc.slug %}

                            <td><a class="btn btn-default" href="{% url 'professor_disciplinas_detail' disc.slug %}">{{ disc.nome }}</a></td>
                            <td>{{ disc.professor }}</td>
                            <td><a href="{% url 'Edita_Disciplina' disc.slug %}" class="btn btn-warning"><i class="fa fa-pencil"></i>  Editar</a>
                            <a href="{% url 'excluir_disciplina' disc.slug %}" class="btn btn-danger"><i class="fa fa-times"></i>  Excluir</a>
                            <a href="{% url 'professor_cria_atividade' disc.slug %}" class="btn btn-primary"><i class="fa fa-archive"></i>  Cadastrar Atividade</a>
                            </td>


                          {% endif %}

                        </tr>
                        {% endfor %}


                      </tbody>
                    </table>



                    <div class="widget-foot">
                        {% if user|active == 2 %}
                            <form method="post" action="">
                            {% csrf_token %}

                            {{ remove.as_p }}

                            </form>

                            <a href="{% url 'professor_cria_disciplina' %}" class="btn btn-success"><i class="fa fa-plus"></i>   Cadastrar Disciplina</a>
                        {% endif %}

                      <div class="clearfix"></div>

                    </div>

                  </div>
                </div>

{% endblock %}